*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-image: url('imagenes/fondo.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

h1,h2,h3,h4,h5{
    color: black;
}
h4{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);
  
  
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    color:snow;
    text-decoration: none;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

b{
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

#header-names{
    width: 100%;
  
} /* imagen del encabezado*/

.hero{
    background-image: url('imagenes/Diseño\ sin\ título.png');
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);

}

.title-countdown{
    font-size: 1rem;
    font-weight: 50;
    margin-bottom: 5px;
    color: black;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.txt-countdown{
    font-size: 0.7rem;
    font-weight: 20;
    color: black;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.timebox{
    display:flex;
    gap: 16px;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.time{
    text-align: center;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.time p{
    font-size: 0.5rem;
  
    color: black;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.btn-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
height: 60px;
padding: 5%;
gap: 8px;
font-size: 0.8em;
width: max-content;
border-radius: 100px;
background: #99AFA3;
color: snow;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    text-align: center;
font-family: "Merriweather";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: var(--Label-Large-Line-Height, 20px); /* 50% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.txt-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Montserrat";
    text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

#dudas,#accordion{
    background-image: url('imagenes/Diseño\ sin\ título.png');
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.card, .card-header{
    background-image: url('imagenes/Diseño\ sin\ título.png');
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.card-body{
    background-color: snow;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

#bye{
    background-image: url('imagenes/Diseño\ sin\ título.png');
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.botones-forms{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Montserrat";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: var(--Label-Large-Line-Height, 20px); /* 166.667% */
letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

#countdown, #musica, #dudas, #fiesta, #ceremonia, #formulario {
    margin-top: 2%;
    margin-bottom: 2%;
    
}



/*Animaciones*/
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-2-18 9:50:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

  .scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
